body {
  margin: 0;
  background: rgba(59, 59, 59, 1);
  color: white;
  margin: 20px;
  font-family: Ubuntu;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
